INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
target
config.log
config.status
configure
pom.xml
*.pyc
.*.swp
*.rrd
*.class
*/target/*
*.orig
*.log

#for Intellij
\.idea
*.iml

#for guava rpm maker
guava-rpm-maker/\.project

# for mac finder
.DS_Store

# for eclipse
.pydevproject
.metadata
.project
.classpath
.settings

# maven
src-main
src-test
plugin_test.jar
bin/

#Docker
tools/docker/libs
tools/docker/*.jar
tools/docker/logback.xml
tools/docker/opentsdb.conf

# FatJar
fat-jar-pom.xml
src-resources/
test-resources/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
